@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

body{
    background-color: var(--color-uno);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

:root{
    --color-uno: #673AB7;
    --color-dos: #F0EBF8;
    --color-letras: #5F6368;
}

.titulo{
    color: white;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer{
    color: white;
    font-size: 30px;
    font-weight: 800;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}